header {
    position: fixed;
    width: 100%;
    background-color:gold;
    text-align: center;
}
body {
    background-color: aliceblue;
    text-align: left;
}
nav, h1, h2, table, img, footer, section{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

thead {
    background-color:blue;
    color:white;
}
button a:hover{
    background-color: #04AA6D; /* Green */
    border: 1;
  }
  blockquote{
    font-size: 30px;
    font-weight: 400px;
    text-align: center;
  }
